---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Bima Akbar">
  <h1 class="text-3xl font-bold">Halo, selamat datang di blog saya!</h1>
  <p class="text-muted">Berisi artikel, catatan, dan proyek menarik.</p>
</BaseLayout>
